@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    font-family: 'Sacramento', cursive;
  }

  h1{
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: -10px;
    color: rgb(167, 38, 38);
  }
.game-board{
    margin: auto;
    font-size: 2rem;
}

  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .square {
    font-family: 'Gloria Hallelujah', cursive;
    background: #fff;
    border: 1px solid rgb(0, 0, 0);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 14vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 8vw;
    color: rgb(167, 38, 38);
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(157, 35, 35);
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .game-info {
    font-size: 2rem;
    text-align: center;
    margin: auto;
}
  
ol{
  font-size: 1.2rem;
  
}



.buttons{
  border: none;
  border-radius: 10px;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 2px auto;
  background: rgb(167, 38, 38);
  color: #fff;
}